{% extends "base.html" %}

{% block content %}
<div class="container " style="padding-top: 150px;">
<h2>Editar Ferrete</h2>
    <hr>
    <strong>Requisitos</strong>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia facilis est delectus, cupiditate ea quo nihil nostrum voluptatibus tempore minus, nesciunt laborum et.
    <br>
    <br>
    <div class="row">
    <div class="col-md-8">
  <form
    method="POST"
    action="{{ url_for('main.update_iron', iron_id = iron.id) }}"
  >
    {% with messages = get_flashed_messages() %} {% if messages %}
    <div class="notification is-danger">
      {{ messages[0] }}
    </div>
    {% endif %} {% endwith %}
     <div class="form-group">
      <label for="nombre">Nombre del propietario:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Nombre"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="cedula">Numero de cedula:</label>
      <input
        type="text"
        id="cedula"
        name="cedula"
        placeholder="Cedula"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="domicilio">Direccion de domicilio:</label>
      <input
        type="text"
        id="domicilio"
        name="domicilio"
        placeholder="Direccion"
        class="form-control"
      />
    </div>
     <div class="form-group">
      <label for="img">Ferrete:</label>
      <input
        type="file"
        id="img"
        name="img"
      />
    </div>
    <br>
    <button type="submit" class="btn btn-f" style="color: white;">Update</button>
  </form>
</div>
</div>
{% endblock %}
