.navbar {
  margin-bottom: 0;
  background-color: #009F93;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #009F93 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.jumbotron {
  background-color: #009F93;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.btn-f {
  background-color:#037171;
}
.hr-style {
  background-color: white;
}
